{% extends 'loglists/base.html' %}

{% load crispy_forms_tags %}




<div class="container">
{% block content %}
<form class="add" method="post" novalidate>
  {% csrf_token %}
    <div class="form-group col-3">
      {{ form.switch_ip|as_crispy_field }}
    </div>
    <div class="form-group col-3">

                  {{ form.text|as_crispy_field }}

    </div>
    <div class="form-group">
  <label for="exampleInputEmail1">Email address</label>
  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{post.switch_ip}}">
  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
</div>
<button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
</form>
<style media="screen">

</style>
{% endblock %}
</div>
